
@import "bootstrap/scss/bootstrap";
/*
/+
.back {
    background-image: linear-gradient(90deg, #1d1d1d 50%, #e8e8e8 50%);
}

.row {
    &.fr{
           height: calc(100vh - 119px);
 
    }
}

.col-6{
    &.fc{
        color: white;
    }
    
}
*/